.ListItem {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	font-size: 1.3em;
	justify-content: space-between;
}

.ListItem-checkbox {
	accent-color: var(--color-accent);
}

.ListItem-label {
	margin-left: 0.2em;
}
.Status {
	color: #ffffff;
	width: 110px;
	text-align: center;
	border-radius: 10px;
	font-size: 0.75em;
	font-weight: 700;
	font-style: oblique;
}

.Overdue {
	background-color: #ee4540;
}

.Soon {
	background-color: #e2703a;
}

.KindofSoon {
	background-color: #07689f;
}

.NotSoon {
	background-color: #4e9f3d;
}

.Inactive {
	background-color: #ccc;
	color: black;
}
